{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/stylesform.css' %}">
    <link rel="shortcut icon" href="https://i.imgur.com/xptcycV.png" type="image/x-icon">
    <title>Edición | Categoría</title>
</head>
<body>
    <form action="/editarCategoria/" method="post">
        {% csrf_token %}
        <div class="main">
            <div class="title">
                Registrar Categoría
            </div>    
            <div class="forma">
                <div class="inputs">
                    <input type="text" id="txtCategory" placeholder="Descripción de la categoría..." class="input" name="txtCategory" value="{{categoria.DescripcionCategoria}}">
                    <i class="fas fa-user-alt"></i>
                </div>
                <div class="buttons">
                    <button class="goahead" type="submit">Guardar</button>
                    <p>Por favor, asegúrate de que los datos estén bien escritos y da 'clic' en <b>Guardar</b>.</p>
                </div>
            </div>
        </div>
    </form>
    
</body>
</html>