{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/stylesform.css' %}">
    <link rel="shortcut icon" href="https://i.imgur.com/xptcycV.png" type="image/x-icon">
    <title>Registro | Clientes</title>
</head>
<body>
    <form action="/registrarClientes/" method="post">
        {% csrf_token %}
        <div class="main">
            <div class="title">
                Registrar Clientes
            </div>    
            <div class="forma">
                <div class="inputs">
                    <input type="text" id="txtNombreCliente" placeholder="Nombre del cliente..." class="input" name="txtNombreCliente">
                    <i class="fas fa-user-alt"></i>
                </div>
                <div class="inputs">
                    <input type="text" id="txtApellidoCliente" placeholder="Apellido del cliente..." class="input" name="txtApellidoCliente">
                    <i class="fas fa-user-alt"></i>
                </div>
                <div class="inputs">
                    <input type="text" id="txtDireccionCliente" placeholder="Direccion del cliente..." class="input" name="txtDireccionCliente">
                    <i class="fas fa-user-alt"></i>
                </div>
                <div class="inputs">
                    <input type="text" id="txtTelefonoCliente" placeholder="Telefono del cliente..." class="input" name="txtTelefonoCliente">
                    <i class="fas fa-user-alt"></i>
                </div>
                <div class="inputs">
                        <select name="selectProduct" id="selectProduct">
                            <option value="hide" Selected>Selecciona una opción.</option>
                            {% for p in clientes %}
                            <option>{{p.NombreCliente}}</option>
                            {% endfor %}
                        </select>
                </div>
                <div class="buttons">
                    <button class="goahead" type="submit">Guardar</button>
                    <p>Por favor, asegúrate de que los datos estén bien escritos y da 'clic' en <b>Guardar</b>.</p>
                </div>
            </div>
        </div>
    </form>
    
</body>
</html>