@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  outline: none;
}

body {
  background-color: #4c2882;
}

.main {
  max-width: 350px; /* Permite definir el ancho máximo al que llegará el div */
  width: 100%;
  height: auto; /* Esta propiedad sirve para definir, basándose en los elementos que haya, el alto del div */
  background: #fff;
  padding: 60px 45px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  border-radius: 20px;
  box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.title {
  margin-bottom: 20px;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  color: #4c2882;
  border-right: 5px solid #4c2882;
  border-left: 5px solid #4c2882;
}

.text {
  text-align: center;
}

.welcome {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

img {
  width: 35px;
  height: 35px;
  margin: 0px 5px;
  text-align: center;
  cursor: pointer;
}

.inputs {
  position: relative;
  margin-bottom: 10px;
}

.input {
  width: 100%;
  padding: 12px;
  padding-left: 30px;
  border: none;
  background: #eeeeee;
}

.buttons {
  text-align: center;
}

.goahead {
  width: 70%;
  margin: 20px auto 0;
  background: #04C35C;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  color: white;
  outline: none;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

i {
  position: absolute;
  top: 10px;
  line-height: 10px;
  left: 10px;
  color: #000;
  font-size: 15px;
}

.goahead:hover {
  background-color: #029e4b;
}

/* -------------------------------------------------- Olas ----------------------------------------------------------- */

.waves {
  position: fixed;
  bottom: -200px;
  height: 400px;
  width: 100%;
  overflow: hidden;
}
.wave {
  position: fixed;
  left: -180px;
  bottom: 0;
  width: 2400px;
  height: 250px;
  background: url(https://static.platzi.com/media/files/waves_c8551f5d-ecf6-4a81-ae1d-f3a0ad55ba10.png) center bottom no-repeat;
  animation: wave;
}
.wave.a {
  background-position: 0 -854px;
}
.wave.b {
  background-position: 0 -427px;
}
.wave.c {
  background-position: 0 0;
}

@media (max-width: 640px) { /* Media Query para que las waves se escondan y no dañen el responsive */
  body {
    background-color: #eee;
  }

  .wave {
    display: none;
  }
}

