{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/stylesform.css' %}">
    <link rel="shortcut icon" href="https://i.imgur.com/xptcycV.png" type="image/x-icon">
    <title>Modificar | Tipo de movimiento</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <div class="main">
            <div class="title">
                Modificar Tipo de movimiento
            </div>    
            <div class="forma">
                <div class="inputs">
                    {{ formtmovimiento }}
            </div>
            </div>
            <div class="buttons">
                <button class="goahead" type="submit"><i class="fas fa-save"></i> Modificar</button>
                <a href="{% url 'dashtipomovimiento' %}" class="return"><i class="fas fa-trash-alt"></i> Cancelar</a>
            </div>
    </form>
    <script src="https://kit.fontawesome.com/373d4fee53.js" crossorigin="anonymous"></script>
</body>
</html>