{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/stylesdashboard.css' %}">
    <script defer src="{% static 'JS/main.js' %}"></script>
    <link rel="shortcut icon" href="https://i.imgur.com/rWq5AGz.png" type="image/x-icon">
    <title>Dashboard | País de Origen</title>
</head>
<body>
    {% block js %}
        <script>
            function eliminarPais(id){
                Swal.fire({
                title: '¿Estás seguro de querer eliminar este país?',
                text: "Si eliminas país, después no podrás restaurarlo.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'No, cancelar.',
                confirmButtonText: 'Sí, eliminar.'
            })
            .then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "eliminarpaisorigen/"+id+""
                }
            })
        }
        function cerrarSesion(){
                Swal.fire({
                title: '¿Estás seguro de querer cerrar sesión?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'No, cancelar.',
                confirmButtonText: 'Sí, cerrar sesión.'
            })
            .then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "logout"
                }
            })
        }
        </script>
    {% endblock %}
    <div class="container">
        <!---------------------------------------------Navbar------------------------------------------------------------>
        <header class="header">
            <nav class="nav">
                <a href="#" class="logo nav-link">Violetas</a>
                <button class="nav-toggle">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a href="{% url 'createpaisorigen' %}" class="nav-menu-link nav-link">Crear</a></li>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Buscar</a></li>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Mi perfil</a></li>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Configuración</a></li>
                    <li class="nav-menu-item"><a href="#" onclick="cerrarSesion()" class="nav-menu-link nav-link nav-link-sign-out">Cerrar sesión</a></li>
                </ul>
            </nav>
        </header>
        <!--------------------------------------------------Sidebar---------------------------------------------------------->
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'dashventas' %}">
                    <span class="icon"><i class="fas fa-money-bill-alt"></i></span>
                    <span class="title">Ventas</span>
                </a></li>
                <li><a href="{% url 'dashproductos' %}">
                    <span class="icon"><i class="fas fa-box-open"></i></span>
                    <span class="title">Productos</span>
                </a></li>
                <li><a href="{% url 'dashclientes' %}">
                    <span class="icon"><i class="fas fa-user-friends"></i></span>
                    <span class="title">Clientes</span>
                </a></li>
                <li><a href="{% url 'dashproveedores' %}">
                    <span class="icon"><i class="fas fa-truck"></i></span>
                    <span class="title">Proveedores</span>
                </a></li>
                <li><a href="{% url 'dashusuarios' %}">
                    <span class="icon"><i class="fas fa-users-cog"></i></span>
                    <span class="title">Usuarios</span>
                </a></li>
                <li><a href="{% url 'dashmateriales' %}">
                    <span class="icon"><i class="fas fa-socks"></i></span>
                    <span class="title">Materiales</span>
                </a></li>
                <li><a href="{% url 'dashestado' %}">
                    <span class="icon"><i class="fas fa-toggle-on"></i></span>
                    <span class="title">Estado</span>
                </a></li>
                <li><a href="{% url 'dashmarcas' %}">
                    <span class="icon"><i class="fas fa-tshirt"></i></span>
                    <span class="title">Marcas</span>
                </a></li>
                <li><a href="{% url 'dashcategoria' %}">
                    <span class="icon"><i class="fas fa-bookmark"></i></span>
                    <span class="title">Categoría</span>
                </a></li>
                <li><a href="{% url 'dashpais' %}" class="active">
                    <span class="icon"><i class="fas fa-globe-americas"></i></span>
                    <span class="title">País de Origen</span>
                </a></li>
                <li><a href="{% url 'dashtipodoc' %}">
                    <span class="icon"><i class="fas fa-passport"></i></span>
                    <span class="title">Tipo de Documento</span>
                </a></li>
                <li><a href="{% url 'dashroles' %}">
                    <span class="icon"><i class="fas fa-address-book"></i></span>
                    <span class="title">Roles</span>
                </a></li>
            </ul>
        </div>
        <!-----------------------------------------Main Container----------------------------------------------------------->
        <main>
            <h1>Listado de los Países de Origen.</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Descripción del país</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for paisorigen in paisorigen %}
                    <tr>
                        <td data-label="Rol">{{paisorigen.DescripcionPais}}</td>
                        <td data-label="Gestión">
                            <a href="{% url 'updatepaisorigen' paisorigen.id %}"><i class="fas fa-edit"></i></a>
                            <a href="#" onclick="eliminarPais({{ paisorigen.id }})"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        
        <footer>Footer</footer>
      </div>

      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="https://kit.fontawesome.com/373d4fee53.js" crossorigin="anonymous"></script>
      {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    icon: 'success',
                    text: '{{ m.message }}',
                    timer: 2000
                })
            </script>
        {% endfor %}
    {% endif %}
</body>
</html>