{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'CSS/stylesdashboard.css' %}">
    <script defer src="{% static 'JS/main.js' %}"></script>
    <link rel="shortcut icon" href="https://i.imgur.com/rWq5AGz.png" type="image/x-icon">
    <title>Dashboard | Usuarios</title>
</head>
<body>
    {% block js %}
        <script>
            function eliminarUsuario(id){
                Swal.fire({
                title: '¿Estás seguro de querer eliminar este usuario?',
                text: "Si eliminas al usuario, después no podrás restaurarlo.",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'No, cancelar.',
                confirmButtonText: 'Sí, eliminar.'
            })
            .then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "eliminarusuarios/"+id+""
                }
            })
        }
        function cerrarSesion(){
                Swal.fire({
                title: '¿Estás seguro de querer cerrar sesión?',
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                cancelButtonText: 'No, cancelar.',
                confirmButtonText: 'Sí, cerrar sesión.'
            })
            .then(function(result) {
                if (result.isConfirmed) {
                    window.location.href = "logout"
                }
            })
        }
        </script>
    {% endblock %}
    <div class="container">
        <!---------------------------------------------Navbar------------------------------------------------------------>
        <header class="header">
            <nav class="nav">
                <a href="#" class="logo nav-link">Violetas</a>
                <button class="nav-toggle">
                    <i class="fas fa-bars"></i>
                </button>
                <ul class="nav-menu">
                    <li class="nav-menu-item"><a href="{% url 'createusuarios' %}" class="nav-menu-link nav-link">Crear</a></li>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Buscar</a></li>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Mi perfil</a></li>
                    <li class="nav-menu-item"><a href="#" class="nav-menu-link nav-link">Configuración</a></li>
                    <li class="nav-menu-item"><a href="#" onclick="cerrarSesion()" class="nav-menu-link nav-link nav-link-sign-out">Cerrar sesión</a></li>
                </ul>
            </nav>
        </header>
        <!--------------------------------------------------Sidebar---------------------------------------------------------->
        <div class="sidebar">
            <ul>
                <li><a href="{% url 'dashventas' %}">
                    <span class="icon"><i class="fas fa-money-bill-alt"></i></span>
                    <span class="title">Ventas</span>
                </a></li>
                <li><a href="{% url 'dashproductos' %}">
                    <span class="icon"><i class="fas fa-box-open"></i></span>
                    <span class="title">Productos</span>
                </a></li>
                <li><a href="{% url 'dashclientes' %}">
                    <span class="icon"><i class="fas fa-user-friends"></i></span>
                    <span class="title">Clientes</span>
                </a></li>
                <li><a href="{% url 'dashproveedores' %}">
                    <span class="icon"><i class="fas fa-truck"></i></span>
                    <span class="title">Proveedores</span>
                </a></li>
                <li><a href="{% url 'dashusuarios' %}" class="active">
                    <span class="icon"><i class="fas fa-users-cog"></i></span>
                    <span class="title">Usuarios</span>
                </a></li>
                <li><a href="{% url 'dashmateriales' %}">
                    <span class="icon"><i class="fas fa-socks"></i></span>
                    <span class="title">Materiales</span>
                </a></li>
                <li><a href="{% url 'dashestado' %}">
                    <span class="icon"><i class="fas fa-toggle-on"></i></span>
                    <span class="title">Estado</span>
                </a></li>
                <li><a href="{% url 'dashmarcas' %}">
                    <span class="icon"><i class="fas fa-tshirt"></i></span>
                    <span class="title">Marcas</span>
                </a></li>
                <li><a href="{% url 'dashcategoria' %}">
                    <span class="icon"><i class="fas fa-bookmark"></i></span>
                    <span class="title">Categoría</span>
                </a></li>
                <li><a href="{% url 'dashpais' %}">
                    <span class="icon"><i class="fas fa-globe-americas"></i></span>
                    <span class="title">País de Origen</span>
                </a></li>
                <li><a href="{% url 'dashtipodoc' %}">
                    <span class="icon"><i class="fas fa-passport"></i></span>
                    <span class="title">Tipo de Documento</span>
                </a></li>
                <li><a href="{% url 'dashroles' %}">
                    <span class="icon"><i class="fas fa-address-book"></i></span>
                    <span class="title">Roles</span>
                </a></li>
            </ul>
        </div>
        <!-----------------------------------------Main Container----------------------------------------------------------->
        <main>
            <h1>Listado de los Usuarios.</h1>
            <table class="table">
                <thead>
                    <tr>
                        <th>Nombre</th>
                        <th>Apellido</th>
                        <th>Teléfono</th>
                        <th>Email</th>
                        <th>Núm. Documento</th>
                        <th>Usuario</th>
                        <th>Contraseña</th>
                        <th>Estado</th>
                        <th>Rol</th>
                        <th>Tipo de documento</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for usuarios in usuarios %}
                    <tr>
                        <td data-label="Nombre del usuario">{{usuarios.NombreUsuario}}</td>
                        <td data-label="Apellido del usuario">{{usuarios.ApellidoUsuario}}</td>
                        <td data-label="Teléfono del usuario">{{usuarios.TelefonoUsuario}}</td>
                        <td data-label="Email del usuario">{{usuarios.EmailUsuario}}</td>
                        <td data-label="Número de documento del usuario">{{usuarios.NumeroDocumento}}</td>
                        <td data-label="Usuario">{{usuarios.Usuario}}</td>
                        <td data-label="Contraseña">{{usuarios.Contraseña}}</td>
                        <td data-label="Estado">{{usuarios.Estado}}</td>
                        <td data-label="Rol">{{usuarios.Roles}}</td>
                        <td data-label="Tipo de documento">{{usuarios.TipoDocumento}}</td>
                        <td data-label="Gestión">
                            <a href="{% url 'updateusuarios' usuarios.id %}"><i class="fas fa-edit"></i></a>
                            <a href="#" onclick="eliminarUsuario({{ usuarios.id }})"><i class="fas fa-trash-alt"></i></a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </main>
        
        <footer><span class="copyleft">&copy; CodeProject - 2021 | Joan Sebastián Prieto C.</span></footer>
      </div>

      <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
      <script src="https://kit.fontawesome.com/373d4fee53.js" crossorigin="anonymous"></script>
      {% if messages %}
        {% for m in messages %}
            <script>
                Swal.fire({
                    icon: 'success',
                    text: '{{ m.message }}',
                    timer: 2000
                })
            </script>
        {% endfor %}
    {% endif %}
</body>
</html>