{% load static %}
<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://unpkg.com/phosphor-icons"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'CSS/stylesindex.css' %}">
  <link rel="shortcut icon" href="https://i.imgur.com/xptcycV.png" type="image/x-icon">
  <title>Violetas | Index</title>
</head>

<body>
  <nav>
    <a href="#seccion-1"><i class="fas fa-socks"></i> Sobre Nosotras</a>
    <a href="#seccion-2"><i class="fas fa-boxes"></i> Productos</a>
    <a href="#seccion-3"><i class="fas fa-phone"></i> Contáctenos</a>
    <a href="{% url 'login' %}" class="login">Iniciar Sesión</a>
  </nav>

  <!-- Sección 1 -->
  <section id="seccion-1">
    <img src="https://i.imgur.com/xptcycV.png" alt="LogoVioleta" width="250px" height="250px">
    <h1>Sobre Nosotras</h1>
    <p>La <b>Distribuidora de medias Violetas</b> es una empresa familiar que surgió como una alternativa laboral cuyo propósito, en principio, era poder encontrar la seguridad del empleo en la ciudad de Bogotá. Aunque al principio su fundadora, <b>Sonia Contreras Fierro</b>, tuvo un camino difícil, recientemente se celebraron los 10 años de existencia de la empresa. La <b>Distribuidora de medias Violetas</b> además de brindar un servicio idóneo a la necesidad de cada cliente, tiene como pilar distribuir los mejores productos, al mejor precio y con estándares de calidad altos. </p>
  </section>

  <!-- Sección 2 -->
  <section id="seccion-2">
    <h1>Productos</h1>
    <figure>
      <img src="https://i.imgur.com/KXJkkyn.jpg" alt="" width="250px" height="250px">
      <figcaption>
        <p>Ropa interior de niña.</p>
    </figure>
    
    <figure>
      <img src="https://i.imgur.com/Qa8VZYg.png" alt="" width="250px" height="250px">
      <figcaption>
        <p>Medias de niña.</p>
    </figure>

    <figure>
      <img src="https://i.imgur.com/PvK94QF.jpg" alt="" width="250px" height="250px">
      <figcaption>
        <p>Camisas de niña.</p>
    </figure>
    
    <figure>
      <img src="https://i.imgur.com/caOdVMY.png" alt="" width="250px" height="250px">
      <figcaption>
        <p>Ropa interior de niño.</p>
    </figure>

    <figure>
      <img src="https://i.imgur.com/myJweKl.jpg" alt="" width="250px" height="250px">
      <figcaption>
        <p>Vestidos de niña.</p>
    </figure>
    
  </section>

  <!-- Sección 3 -->
  <section id="seccion-3">
    <h1>Contáctenos</h1>
    <ul>
      <li><b>Número de teléfono (Sonia Contreras | Fundadora):</b> 311 8400289</li>
      <li><b>Número de teléfono (Andrea Prieto | Co-Fundadora):</b> 319 5271079</li>
      <li><b>Correo electrónico:</b> distribuidoravioletas@gmail.com</li>
      <li><b>Horarios de atención:</b> Bogotá D.C - Lunes a viernes: 9:00 am a 5:00pm</li>
    </ul>
  </section>
  <script src="https://kit.fontawesome.com/f82c10daa4.js" crossorigin="anonymous"></script>
</body>

</html>