{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <script src="https://unpkg.com/phosphor-icons"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'CSS/stylesindex.css' %}">
  <link rel="shortcut icon" href="https://i.imgur.com/xptcycV.png" type="image/x-icon">
  <title>Violetas | Index</title>
</head>

<body>
  <nav>
    <a href="#seccion-1">Sobre Nosotras</a>
    <a href="#seccion-2">Productos</a>
    <a href="#seccion-3">Contáctenos</a>
    <a href="{% url 'login' %}">Iniciar Sesión</a>
  </nav>

  <!-- Sección 1 -->
  <section id="seccion-1">
    <h1>Sobre Nosotras</h1>
    <p><b>Distribuidora de medias Violetas.</b> Es una empresa con una trayectoría aproximada de 10 años.</p>
  </section>

  <!-- Sección 2 -->
  <section id="seccion-2">
    <h1>Productos</h1>
  </section>

  <!-- Sección 3 -->
  <section id="seccion-3">
    <h1>Contáctenos</h1>
  </section>
  <script src="https://kit.fontawesome.com/f82c10daa4.js" crossorigin="anonymous"></script>
</body>

</html>